# **Métodos para Tuplas**

In [1]:
tupla = (1, 2, 3, 4, 5)
print(tupla.count(2))

1

In [2]:
# 1. count()
# El método count() devuelve la cantidad de veces que un valor específico aparece en la tupla.
# Ejemplo:
t = (1, 2, 3, 2, 2)
print(t.count(2))  # Output: 3

3

In [3]:
# 2. index()
# El método index() devuelve el índice de la primera aparición de un valor en la tupla.
# Si el valor no existe, lanzará un error ValueError.
# Ejemplo:
t = (1, 2, 3)
print(t.index(1))  # Output: 1

0

In [4]:
# Convertir tupla a lista, modificar y volver a tupla
t = (1, 2, 3)
t_list = list(t)  # Convertir a lista
t_list[0] = 10    # Modificar la lista
t = tuple(t_list) # Convertir de nuevo a tupla
print(t)          # Output: (10, 2, 3)

(10, 2, 3)

In [5]:
# Concatenación de tuplas
# Puedes concatenar dos o más tuplas para formar una nueva tupla.
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2  # Nueva tupla
print(t3)     # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [6]:
# Eliminar la tupla completa
# Aunque no puedes eliminar elementos individuales de una tupla, puedes eliminar la tupla completa.
t = (1, 2, 3)
del t  # Elimina la tupla completa